/* CSS Entry Point */
.app {
	background-color: black;
	display: flex;
	justify-content: space-around;
	justify-content: center;
	//align-items: strech;

}
.goodGuy img {
	width: auto;
	height: auto;
	max-width: 70%;
	max-height: 70%;
	float: left;
	//justify-content: space-around;
}
.badGuy img {
	width: auto;
	height: auto;
	max-height: 60%;
	max-width: 60%;
	float: right;
	//justify-content: space-around;
}
.fighters {
	font-size: 28px;
	color: white;
	display: flex;
	justify-content: space-around;

}
